

# Exclude dot folders (editor settings, not to be published junk etc)
.*/

# Exclude most build-artefacts
*.o
*.ld
*.elf
*.bin
*.lz
*.vcxproj.user

hostutils/bin2csfile
hostutils/maintolz77

# Exclusions from above
!mpc5566/out/loader.bin
