

# Exclude dot folders (editor settings, not to be published junk etc)
.*/

# Exclude most build-artefacts
*.o
*.ld
*.elf
*.bin
*.lz
*.vcxproj.user

# IDA projects
*.i64
*.id0
*.id1
*.nam
*.til

hostutils/bin2csfile
hostutils/maintolz77
target/.private

# Exclusions from above
!mpc5566/out/loader.bin
!target/e39/mcp/bin/firmware.bin
!target/e39/mcp/bin/firmware.elf
!target/e39/mcp/target/bin/loader.bin